#!/usr/bin/env bash

export GOPROXY="off"

export POSTGRES_USER="postgres"
export POSTGRES_PASSWORD="pass"
export POSTGRES_DB="dbt"
export POSTGRES_PORT="13000"
export TEST_DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"
